node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/build
/storage/*.key
/storage/debugbar
/vendor
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpintel
.DS_Store
dist
cache
.temp

# ignore phpunit caches
.phpunit.*
