/node_modules
/public/hot
/public/build
/public/storage
/public/js
/public/css
/storage/*.key
/storage/debugbar
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpintel
.DS_Store
docs/.vuepress/dist

