
// Body
$body-bg: rgb(249, 247, 246);

$table-head-color: rgb(240, 239, 238);
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;

$gray-200: #f0efee;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
:root {
    --black: #212529;
}
// $cyan: #6cb2eb;
